/*----------------------------------------------------------------
                          Fonts
 ----------------------------------------------------------------- */


 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');


/*----------------------------------------------------------------
                common styles or ulilities
 ----------------------------------------------------------------- */


 body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0%;
}




/*-------------------------------------------------------------------
                        Header Style
---------------------------------------------------------------------  */




.title-container{
    display: flex;
    justify-content: space-evenly;
    background-image: url("https://cdn.dribbble.com/users/44708/screenshots/2694410/code.gif") ;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: #2D25A0; */
    padding-top: 83px;
    padding-bottom: 83px;
    margin-bottom: 70px;
    
}

.title-text-container{
   
    color: #FFFFFF;
}

.title-text{
    font-size: 64px;
    width: 485px;
    height: 230px;
    
}

.watch-live-button{
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    margin-top: 27px;
    text-decoration: none;

    background: #E02C6D;
    border-radius: 5px;
    border: hidden;
    
}

.title-container .title-image img{
    width: 556.01px;
    height: 438px;
}





/*-------------------------------------------------------------------
                           Cards Style
---------------------------------------------------------------------  */

.player-container{
    display: flex;
    justify-content: center;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
    
}

.players .player-image img{
    width: 300px;
    height: 256px;
    margin: 0px 10px;
}

.player-details-title{
    font-size: 28px;
    color: #18191F;
}

.player-details-para{
    color: #6C6C6C;
}

.player{
    height: 456px;
    width: 330px;
    
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}


/*-------------------------------------------------------------------
                        SECTION ONE Styles
---------------------------------------------------------------------  */


.copa-history{
    margin-top: 150px;
    margin-bottom: 100px;
}
.history-title{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5em;
}
#title-amrerica{
    color: red;
}
.history-para{
    text-align: center;
}



.final-match-container{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.final-match-container-item{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2em;
}
.container-title{
    font-size: 1.7em;
    margin-top: 0;
}
#item-color{
    color: red;
}


















/*-------------------------------------------------------------------
                        SECTION TWO Styles
---------------------------------------------------------------------  */




.section-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 165px;
    margin-bottom: 70px;   
    
}
.highlight-text-container{
    color: #0A0826;
    align-items: center;

    width: 469px;
    height: 380px;
    margin-top: 30px;
    padding-left: 10px ;
    
    border-style: solid;
    border-width: 5px;
    border-image:linear-gradient( to right, #2D25A0, rgba(0, 0, 0, 0)) 1 100%;
    border-image-slice: 1 ;

    background-image: url("/images/background-highlight.png");
    background-repeat: no-repeat;
    
    
}
.sec-title-text{
    color: #0A0826;
    font-size: 48px;
    width: 469px;
    height: 120px;
    margin-top: 19px;
    
    
}
.highlights-para{
    color: #6C6C6C;
    width: 404px;
    height: 113px;
}
.watch-now-button{
    color: #FFFFFF;
    width: 172px;
    height: 44px;
    
    text-decoration: none;
    background: #2D25A0;
    border: hidden;
    border-radius: 5px;
    
    
}

/* ---------------------Applying Pseudo--------------------- */

.photo-frame:hover .photo-details {
    color: white;
    display: block;
    background-color: rgba(0, 0, 0, 0.274);
}

.photo-album img {
    width: 110%;
}

.photo-frame {
    height: 438px;
    width: 656.01px;

    border-width: 5px;
    border-style: solid;
    border-image:linear-gradient( to left, #2D25A0, rgba(0, 0, 0, 0)) 1 100%;
    border-image-slice: 1 ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   
    position: relative;
    overflow: hidden;
}

.photo-details {
    display: none;
    position: absolute;
    top: 0px;
    padding-left: 20px;
    height: 438px;
    width: 656.01px;
}

.image-title{
    text-align: right;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 65px;
}

.photo-details-para{
 margin-right: 40px;
 text-align: right;
}

 .photo-frame:hover .photo {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);

    transition: transform 2s ease-in-out;
}










/* 
.section-container .section-image img{
    width: 656.01px;
    height: 438px;
    margin-top: 6px;
    border-radius: 5px;
}

.section-image-details{
    border:2px solid orange;
} */




/*-------------------------------------------------------------------
                        Footer Styles
---------------------------------------------------------------------  */
footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 158px;


    background-image: url("https://codemyui.com/wp-content/uploads/2019/06/Shooting-Star-Background-in-Pure-CSS-1.gif");
    background-size:100%;
    background-repeat: repeat;
    background-position:center;
    
    
    padding:0;
    margin:0;
}
.footer-logo{
    height: 110px;
    width: 483.87px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 80%;
}
.social-icon{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    color: #969BAB;
}
.icon{
    padding: 14px
}

#footer-para{
    color: rgba(245, 245, 245, 0.623);
    font-size: 0.7em;
}